doctype html
html( lang = 'en' )
  head
    title Draggable UI
    meta( name = 'description' content = 'Draggable UI' )
    meta( name = 'author' content = 'Jordan Ramos' )
    link( href = 'main.css', rel = 'stylesheet', type = 'text/css' )
  body
    .phone
    script( src='main.js' )
